{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    <div class="row">

    <div class="col-sm-2">
    {% for book in books %}
            <figure>
                <img class="img-responsive" style="height:200px " src="{{ book.image }}" alt="{{ book.title }} book cover"/>
            </figure>
            <figcaption>
                <p><a href="{{
                    path('google_api_view', {
                        'isbn': book.isbn,
                    }) }}" >{{ book.title }}</p>
            </figcaption>
            </a>
    {% endfor %}
    </div>
{% endblock %}