{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
    {{ form_start(form,{'attr':
        {
            'action' : path('google_api_results')
        }} ) }}
    {{ form_row(form._token) }}

    {% if not form.vars.valid %}
        <div class="alert alert-danger">
            {{ form_errors(form.search) }}
        </div>
    {% endif %}

    <div class="col-lg-12">
        <div class="form-group text-center">
            {{ form_label(form.search) }}
            {{ form_widget(form.search, { 'attr': {
                'class' : 'form-control',
            }} ) }}
        </div>
        <div class="form-group">
            {{ form_label(form.submit) }}
            {{ form_widget(form.submit, { 'attr': {
                'class' : 'form-control',
            }} ) }}
        </div>
    </div>

    {{ form_start(form) }}
{% endblock %}