{% extends 'base.html.twig' %}

{% block title %}About the Book{% endblock %}


{% block body %}
<h1>About the Book</h1>
<hr>
<hr>
<div class="row" style="margin-top: 20px;">
    <div class="col-sm-4">
        <figure>
            <img src="{{ bookInfo.image|default('') }}" alt="{{ bookInfo.title }} book cover">
        </figure>
    </div>
    <div class="col-sm-4">
        <div class="row">
            <h3><strong>Title</strong></h3>
            <p>{{ bookInfo.title }}</p>
        </div>
        <div class="row">
            <h3><strong>Author</strong></h3>
            <p>{{ bookInfo.author }}</p>
        </div>
        <div class="row">
            <h3><strong>Genre</strong></h3>
            <p>{{ bookInfo.genre }}</p>
        </div>
    </div>
</div>

<div class="row col-sm-12" style="margin-top: 20px;">
    <h2><strong>Synopsis</strong></h2>
    <p>{{ bookInfo.synopsis }}</p>
</div>
{% endblock %}