{% extends 'base.html.twig' %}

{% block title %}Moderator{% endblock %}

{% block body %}
    <div class="container">
        <div class="jumbotron; text-center">
            <h1 style="text-align: center">Moderator Section</h1>
            <p>Block and unblock user accounts.</p>
        </div>
    </div>

    {% for user in users %}
        <div class="col-sm-4" style="border:5px solid black;max-height: 280px;">
            <h3 class="text-center">{{ user.username }}</h3>
            <hr>
            <table class="table table-responsive">
                <tbody>
                <tr>
                    <th>Email:</th>
                    <td>{{ user.email }}</td>
                </tr>
                <tr>
                    <th>Last Login:</th>
                    <td>{{ user.lastLogin|date('Y-m-d') }}</td>
                </tr>
                {% if user.enabled == 1 %}
                    <tr>
                        <th>Enabled?:</th>
                        <td>Yes</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form action="{{ path('moderator_block_user') }}">
                                <input type="hidden" name="userId" value="{{ user.id }}">
                                <button class="btn btn-block btn-danger" type="submit">Block User</button>
                            </form>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <th>Enabled?:</th>
                        <td>No</td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <form action="{{ path('moderator_unblock_user') }}">
                                <input type="hidden" name="userId" value="{{ user.id }}">
                                <button class="btn btn-block btn-primary" type="submit">Unblock User</button>
                            </form>
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    {% endfor %}
{% endblock %}