{% extends 'base.html.twig' %}
{% block body %}
    <h1>Oops, looks like something went wrong</h1>
    <br>
    <h2><strong>{{ status_code }}</strong> {{ status_text }}</h2>
    <br>
    <h2>We're looking to fix this, sorry for the inconvenience.</h2>
    <br />
    <a class="btn btn-default" href="{{ path('book_home') }}">Go to Homepage</a>
{% endblock %}