<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}{% endblock %}- Click Books</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% block stylesheets %}
        {% stylesheets
        'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
        'bundles/starrating/css/rating.css'
        %}
        <link href="{{ asset_url }}" type="text/css" rel="stylesheet"/>
        {% endstylesheets %}
    {% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {% block javascript %}
        {% javascripts
        'https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
        '@StarRatingBundle/Resources/public/js/rating.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-default">
        <button type="button" class="navbar-toggle collapsed"
                data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Click Books</a>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('book_home')}}">Home</a></li>
                <li><a href="{{ path('search') }}">Search Books</a></li>
                <li><a href="{{ path('book_review_about') }}">About Us</a></li>
                <li><a href="{{ path ('book_review_book_create')}}">Request Book</a></li>
                <li><a href="{{ path('google_api_search') }}">Google API</a></li>
            <ul class="nav navbar-nav navbar-right">
                {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}
                    {% if is_granted('ROLE_ADMIN')  %}
                        <li><a href="{{ path ('admin')}}">Admin Panel</a></li>
                    {% elseif is_granted('ROLE_MODERATOR') %}
                        <li><a href="{{ path ('moderator')}}">Moderator Panel</a></li>
                    {% endif %}
                    <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
                    <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <div class="row">
        <section class="col-sm-12" style="margin-bottom: 100px;">
            {% block body %}{% endblock %}
        </section>
    </div>
    <nav class="container navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            {% block footer %}
            <h4>Click Books - Registered Trademark (2018)</h4>
            {% endblock %}
        </div>
    </nav>

</div>
</body>
</html>
