{% trans_default_domain 'FOSUserBundle' %}

    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
<form>
    <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class':'form-control'}})}}
    </div>
    <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_widget(form.username, {'attr': {'class':'form-control'}})}}
    </div>
    <div class="form-group">
        {{ form_label(form.firstName) }}
        {{ form_widget(form.firstName, {'attr': {'class':'form-control'}})}}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.first) }}
        {{ form_widget(form.plainPassword.first, {'attr': {'class':'form-control'}})}}
    </div>
    <div class="form-group">
        {{ form_label(form.plainPassword.second) }}
        {{ form_widget(form.plainPassword.second, {'attr': {'class':'form-control'}})}}
    </div>
</form>

<div>
    <input class="btn btn-primary btn-block" type="submit" value="{{ 'registration.submit'|trans }}" />
</div>
{{ form_end(form) }}