{% extends "@FOSUser/layout.html.twig" %}

{% block header %}
    <h2>Register with Click Books</h2>
{% endblock %}

{% block fos_user_content %}
    {{ include('@FOSUser/Registration/register_content.html.twig') }}
{% endblock fos_user_content %}

{% block otherContent %}
    <div class="row">
        <h3>Already have an account with Click Books?</h3>
        <hr>
        <h4>Click 'Login' to gain full access to the site and make use of its features</h4>
        <a href="{{ path('fos_user_security_login') }}"  class="btn btn-danger">Click here to login</a>
    </div>
{% endblock %}