{% trans_default_domain 'FOSUserBundle' %}

{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'Security') }}</div>
{% endif %}

<form action="{{ path("fos_user_security_check") }}" method="post">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}

    <label for="username" style="margin-top: 20px;">{{ 'Login'|trans }}</label>
    <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required="required" />

    <label for="password" style="margin-top: 20px;">{{ 'Password'|trans }}</label>
    <input type="password" class="form-control" id="password" name="_password" required="required" />

    <input type="checkbox" style="margin-top: 20px;" id="remember_me" name="_remember_me" value="on" />
    <label for="remember_me">{{ 'Remember Me'|trans }}</label>
    <br />
    <input type="submit" id="_submit" class="btn btn-primary btn-block" style="margin-top: 20px;" name="_submit" value="{{ 'Login'|trans }}" />

</form>

