{% extends "@FOSUser/layout.html.twig" %}

{% block header %}
    <h2>Login to Click Books</h2>
{% endblock %}

{% block fos_user_content %}
    {{ include('@FOSUser/Security/login_content.html.twig') }}
{% endblock fos_user_content %}

{% block otherContent %}
<div class="row">
    <h3>New to Click Books?</h3>
    <hr>
    <h4>Click 'register' to gain full access to the site and make use of its features</h4>
    <a href="{{ path('fos_user_registration_register') }}"  class="btn btn-danger">Click here to register</a>

</div>
{% endblock %}