{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% block header %}

        {% endblock %}
        <div class="row">
            <div class="col-md-3 col-sm-6 center-block" style="float:none;">
                {% block fos_user_content %}
                {% endblock %}
            </div>
        </div>
        {% block otherContent %}
        {% endblock %}
    </div>
{% endblock %}