{{ form_start(form, {'attr': {'class': 'navbar-form navbar-left', 'action': path('search')}}) }}

    {{ form_widget(form.search, {
        'attr': {'class': 'form-control search-query'}
    }) }}

{{ form_end(form) }}

