{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
<div class="col-sm-6 col-xs-12 center-block panel panle-default" style="float: none;">
    <div class="panel-body">
        <h2>Click Books, the book review site</h2>
        <h3>Reviews by the readers, for the readers.</h3>
        <p>Click Book is a site designed for people who enjoy reading all types of books. We have an extensive range of literature for all types of genres.</p>
        <p>Take a look at some of the reviews posted by other readers to get an insight into the much loved books.</p>
        <p>You must be a Click Books member to write your own reviews, registration could not be easier!</p>
    </div>
</div>
{% endblock %}
