{% extends 'base.html.twig' %}

{% block title %}Add New Book{% endblock %}

{% block body %}
    <h1>Add a New Book</h1>
    <div class="col-md-4 col-sm-6 col-xs-12 center-block" style="float:none;border: solid 2px #b5bbc8;padding: 20px;">
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class':'form-control'}})}}
        </div>
        <div class="form-group">
            {{ form_label(form.author) }}
            {{ form_widget(form.author,{'attr': {'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.synopsis) }}
            {{ form_widget(form.synopsis, {'attr': {'class':'form-control' }}) }}
        </div>
        <div class="form-group" style="border: solid 2px grey; padding:10px;margin:10px;">
            {{ form_row(form.image) }}
        </div>
        <div class="form-group">
            {{ form_label(form.genre) }}
            {{ form_widget(form.genre,{'attr':{'class':'form-control'}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.isbn) }}
            {{ form_widget(form.isbn,{'attr':{'class':'form-control'}}) }}
        </div>
        {{ form_row(form.submit, { 'label': 'Request Book' },{'attr':{'class':'btn btn-block btn-primary'}}) }}
        {{ form_end(form) }}
    </div>

{% endblock %}