{% extends 'base.html.twig' %}

{% block title %}Index{% endblock %}

{% block body %}
    <div style="margin-top: 20px;" class="row">
        <div class="col-sm-3" style="margin-top: 20px;">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Quick Links</h3></div>
                <div class="panel-body">
                    <h4><a href="{{ path('search') }}">Find Books</a></h4>
                    <h4><a href="{{ path('book_review_about') }}">Who are Click Books?</a></h4>
                    <h4><a href="{{ path('fos_user_security_login') }}">Login</a></h4>
                </div>
            </div>

        </div>
        <div class="col-sm-9">
            <div class="row">
                <h2>Top 5 Books</h2>
                <hr>
                <hr>
                {% for book in topFive %}
                    <div class="col-sm-2">
                        <figure>
                            <img class="img-responsive" style="height:200px " src="{{ asset('uploads/book_covers/' ~ book.image) }}" alt="{{ book.title }} book cover"/>
                        </figure>
                        <figcaption>
                            <p>{{ book.title }}</p>
                        </figcaption>
                        </a>
                    </div>
                {% endfor %}
            </div>

            <div class="row" style="margin-top: 30px">
                <h2>Highest Votes</h2>
                <hr>
                <hr>
                {% for reviews in topReview %}
                    <div class="col-sm-2">
                        <figure>
                            <img class="img-responsive" style="height:200px " src="{{ asset('uploads/book_covers/' ~ reviews.image) }}" alt="{{ reviews.title }} book cover"/>
                        </figure>
                        <figcaption>
                            <p>{{ reviews.title|length > 20 ? reviews.title|slice(0,20) ~ '...' : reviews.title}}</p>
                            {{ reviews.sumRating|rating(5,"fa-norm") }}
                        </figcaption>
                        </a>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>

{% endblock %}

