{% extends 'base.html.twig' %}

{% block title %}About the Book{% endblock %}


{% block body %}
    <h1>About the Book</h1>
    <hr>
    <hr>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-4">
            <figure>
                <img src="{{ asset('uploads/book_covers/' ~ bookInfo.image) }}" alt="{{ bookInfo.title }} book cover">
            </figure>
        </div>
        <div class="col-sm-4">
            <div class="row">
                <h3><strong>Title</strong></h3>
                <p>{{ bookInfo.title }}</p>
            </div>
            <div class="row">
                <h3><strong>Author</strong></h3>
                <p>{{ bookInfo.author }}</p>
            </div>
            <div class="row">
                <h3><strong>Genre</strong></h3>
                <p>{{ bookInfo.genre }}</p>
            </div>
            <div class="row">
                <h3><strong>Google Rating</strong></h3>
                <p>{{ googleRating }} / 5</p>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Average Review</div>
                <div class="panel-body">
                    {{ total|rating }}
                    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') or is_granted('ROLE_MODERATOR') %}

                        <a class="btn-default btn btn-block" href="{{ path('book_user_review', {'id': id, 'bookId': bookInfo.id}) }}">Leave A Review</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row col-sm-12" style="margin-top: 20px;">
        <h2><strong>Synopsis</strong></h2>
        <p>{{ bookInfo.synopsis}}</p>
    </div>


    <div class="row" style="margin-top: 50px;">
        <h3>Reviews</h3>
        {% for review in reviews %}
            <div style="margin-top:20px;background-color: #D3D3D3;border: solid black 5px;box-shadow: 10px 10px 5px grey;" class="col-sm-6 col-xs-12">
                <p>{{ review.userId.firstname }}</p>
                <p>{{ review.date|date("m/d/Y") }}</p>
                {{ review.rating|rating }}
                <p>{{ review.review }}</p>
                {% if is_granted('ROLE_MODERATOR') %}
                    <form method="post" action="{{ path('delete_review') }}">
                        <input type="hidden" name="id" value="{{ review.id }}">
                        <input type="submit" value="Delete">
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}