
{% extends 'base.html.twig' %}

{% block title %}Books View{% endblock %}

{% block body %}
    <div class="row" style="margin-top: 20px">
        <div class="col-sm-3">
            {#group sections#}
            <div class="panel-group">
                <div class="panel panel-primary">
                    <div class="panel-heading">Search</div>
                    <div class="panel-body">{{ render(controller('AppBundle:Post:search')) }}</div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">Find by Genre</div>
                    <div class="panel-body">
                        <ul style="list-style: none;">
                            {% for genreItems in genres %}
                                <li style="margin-top: 10px;"><a href="{{ path('book_review_book_view', {'id':genreItems.id}) }}">{{ genreItems.genre }}</a></li>
                            {% endfor %}
                        </ul>

                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-9">
            {% for book in books %}
                <div class="col-sm-3" style="margin-top: 40px; ">
                    <img class="img-responsive" style="height:200px " src="{{ asset('uploads/book_covers/' ~ book.image) }}" alt="{{ book.title }} book cover"/>
                    <a href="{{ path('book_review', {'id': id, 'bookId': book.id}) }}">
                        {{ book.title|length > 20 ? book.title|slice(0,20) ~ '...' : book.title}}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}

